@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:black;
    background-color: #ffffff;
}

.main-header {
    color:black;
    background-color: #ffffff;
}

.navigation-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-index {
    background-color:#ffffff;
    background-image: url("../images/index_background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}